body {
  padding: 0px;
  margin: 5px;

  box-sizing: border-box;
}
main {
  margin-top: 150px;
}
.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 100px;
  grid-gap: 5px;
  grid-auto-flow: dense;
}

.gallery-item {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.card {
  margin: 10px auto;

  padding: 5px;
  width: 80vw;
  height: 20vh;
  font-size: 15px;
  background: rgb(255, 255, 255);
  border: 1px solid black;
  overflow: hidden;
}

.size-4 {
  grid-row: span 4;
  grid-column: span 4;
}

.size-2 {
  grid-row: span 2;
  grid-column: span 2;
}

.size-1-2 {
  grid-row: span 2;
  grid-column: span 1;
}

.gallery-item:hover img {
  transform: scale(1.5);
}

.mySlides {
  display: none;
}
.myslides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slideshow-container {
  display: flex;
}
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
  .size-1-2 {
    grid-row: span 1;
    grid-column: span 1;
  }
  .size-2 {
    grid-row: span 4;
    grid-column: span 4;
  }
}
