.heroTextHeading {
  color: #ffd65b;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.3;
}

.heroTextBody {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
}

.heroButton {
  text-transform: uppercase !important;
  letter-spacing: 1px !important;
  border-radius: 0 !important;
  font-size: 1.2rem !important;
  background: #ffd65b !important;
  color: #030201 !important;
  font-weight: 300 !important;
  transition: all 0.3s;
}

.heroButton:hover {
  color: #ffd65b !important;
  background: #030201 !important;
}

.carouselImage {
  position: relative;
}
.hopeImage {
  margin-top: 0px;
}

.carouselImage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

/*donate.html*/

.donate-header {
  font-size: 75px;
  font-weight: 600;
  line-height: 6rem;
  padding: 20px 16px;
  color: rgb(22, 22, 22);
}
.donate-to {
  font-family: Poppins, sans-serif;
  color: rgb(51, 51, 51);
  font-size: 30px;
  font-weight: 400;
  font-weight: bold;
  padding-left: 16px;
}
.qrcode {
  height: 200px;
  width: 200px;
  object-fit: scale-down;
}

.donate-body-contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  color: rgb(51, 51, 51);
  font-weight: 600;
  text-align: center;
}
.account-card {
  padding: 16px;
  box-shadow: 0px 0px 5px #ffd65b;
  border-radius: 5px;
}
.account-card table,
.account-card table td {
  text-align: left;
  border: 0;
  color: rgb(51, 51, 51);
  letter-spacing: 0.5px;
  border-collapse: collapse;
}
@media only screen and (max-width: 780px) {
  .donate-header {
    margin-top: 30%;
    font-size: 40px;
    line-height: normal;
  }
  .donate-body-contents {
    font-size: 18px;
    display: block;
    margin: 0% 10%;
    padding-bottom: 16px;
  }
}
